compiler/workflow/aws-state-machine.asl.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "{{ DeploymentRegistryTableName }}",
        "Item": {
          "TemplateName": {
            "S.$": "$.TemplateName"
          },
          "DeploymentTimestamp": {
            "N.$": "$.DeploymentTimestamp"
          },
          "Action": {
            "S.$": "$.Action"
          },
          "Valid": {
            "BOOL.$": "$.Valid"
          },
          "KeepFailed": {
            "BOOL.$": "$.KeepFailed"
          }
        }
      },
      "ResultPath": null,
      "Next": "Run tests?"
    },
    "Run tests?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Test",
          "StringEquals": "",
          "Next": "Deploy?"
        }
      ],
      "Default": "Test template"
    },
    "Test template": {
      "Type": "Task",
      "Resource": "arn:aws:states:::codebuild:startBuild.sync",
      "Parameters": {
        "ProjectName": "{{ StackPrefix }}-deployer-tests",
        "EnvironmentVariablesOverride": [
          {
            "Name": "ARTIFACTS_BUCKET",
            "Type": "PLAINTEXT",
            "Value": "{{ ArtifactBucket }}"
          },
          {
            "Name": "TEMPLATE_LOCATION",
            "Type": "PLAINTEXT",
            "Value.$": "$.TemplateLocation"
          },
          {
            "Name": "TEST_TEMPLATE_LOCATION",
            "Type": "PLAINTEXT",
            "Value.$": "$.Test"
          }
        ]
      },
      "Catch": [ {
          "ErrorEquals": [ "States.ALL" ],
          "Next": "Deployment failed",
          "ResultPath": "$.Error"
      } ],
      "ResultPath": null,
      "Next": "Deploy?"
    },
    "Deploy?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Valid",
          "BooleanEquals": true,
          "Next": "Deploy template"
        },
        {
          "Variable": "$.Valid",
          "BooleanEquals": false,
          "Next": "Deployment failed"
        }
      ]
    },
    "Deploy template": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{ AwsRegion }}:{{ AwsAccountId }}:function:{{ StackPrefix }}-deployer-deploy-template",
      "Next": "Wait 10s"
    },
    "Wait 10s": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Status"
    },
    "Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{ AwsRegion }}:{{ AwsAccountId }}:function:{{ StackPrefix }}-deployer-get-status",
      "Next": "Is deployed?"
    },
    "Is deployed?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Status",
          "StringEquals": "SUCCESS",
          "Next": "Update Registry Success"
        },
        {
          "Variable": "$.Status",
          "StringEquals": "FAIL",
          "Next": "Keep failed?"
        }
      ],
      "Default": "Wait 10s"
    },
    "Keep failed?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.KeepFailed",
          "BooleanEquals": false,
          "Next": "Clean-up"
        }
      ],
      "Default":"Deployment failed"
    },
    "Clean-up": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{ AwsRegion }}:{{ AwsAccountId }}:function:{{ StackPrefix }}-deployer-keepfailed",
      "Next": "Deployment failed"
    },
    "Update Registry Success": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "{{ DeploymentRegistryTableName }}",
        "Item": {
          "TemplateName": {
            "S.$": "$.TemplateName"
          },
          "DeploymentTimestamp": {
            "N.$": "$.DeploymentTimestamp"
          },
          "Action": {
            "S.$": "$.Action"
          },
          "Valid": {
            "BOOL.$": "$.Valid"
          },
          "KeepFailed": {
            "BOOL.$": "$.KeepFailed"
          },
          "DeploymentStatus": {
            "S": "SUCCESS"
          }
        }
      },
      "ResultPath": null,
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Deployment failed": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{ AwsRegion }}:{{ AwsAccountId }}:function:{{ StackPrefix }}-deployer-failed",
      "Next": "Update Registry Failure"
    },
    "Update Registry Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "{{ DeploymentRegistryTableName }}",
        "Item": {
          "TemplateName": {
            "S.$": "$.TemplateName"
          },
          "DeploymentTimestamp": {
            "N.$": "$.DeploymentTimestamp"
          },
          "Action": {
            "S.$": "$.Action"
          },
          "Valid": {
            "BOOL.$": "$.Valid"
          },
          "KeepFailed": {
            "BOOL.$": "$.KeepFailed"
          },
          "DeploymentStatus": {
            "S": "FAILED"
          }
        }
      },
      "ResultPath": null,
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail",
      "Cause": "$.Error.Cause"
    }
  }
}
